*.log
.vscode/
!setup/config.mk
bios/
build/
!script/*
bochsrc.bxrc
bochsrc
sustcore.img
bx_enh_dbg.ini
config.mk
config-ref/*/
config-ref/*.tar.xz
setup.sh
build-setup.sh
gdb-setup.sh
.github/
documents/
.cache/
compile_commands.json
