*.log
.vscode/
!setup/config.mk
bios/
build/
!script/*
bochsrc.bxrc
bochsrc
bx_enh_dbg.ini
config.mk
kernel/logger.h
kernel/feature.mk
config-ref/*/
config-ref/*.tar.xz
setup.sh
build-setup.sh
gdb-setup.sh
documents/
.cache/
compile_commands.json
.zed/
config.json
.sisyphus/
*.bak

os_serial_out_rv.txt
kernel-rv
sdcard-rv.img

os_serial_out_la.txt
kernel-la
sdcard-la.img
